[Unit]
Description=4GPi Setup

[Service]
Type=oneshot
EnvironmentFile=/etc/default/4gpi
ExecStartPre=/usr/lib/4gpi-utils/gpio-export.sh
ExecStart=/usr/lib/4gpi-utils/device-start.sh
ExecStop=/usr/lib/4gpi-utils/device-stop.sh
ExecStopPost=/usr/lib/4gpi-utils/gpio-unexport.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

