[Unit]
Description=4GPi Setup

[Service]
Type=oneshot
Environment="GPIOCHIP=gpiochip0"
EnvironmentFile=/etc/default/4gpi
ExecStart=/usr/lib/4gpi-utils/device-start.sh
ExecStop=/usr/lib/4gpi-utils/device-stop.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

