[Unit]
Description=Configure the modem on 4GPi
DefaultDependencies=no
BindsTo=dev-tty4GPI.device
After=4gpi-setup.service dev-tty4GPI.device

[Service]
Type=oneshot
EnvironmentFile=/etc/default/4gpi
ExecStart=/usr/lib/4gpi-utils/modem-config.sh
