Source: 4gpi-utils
Section: net
Priority: optional
Maintainer: Masahiro Honda <honda@mechatrax.com>
Build-Depends: debhelper (>= 12), bash-completion
Standards-Version: 4.3.0
Vcs-Git: https://github.com/mechatrax/4gpi-utils.git
Vcs-browser: https://github.com/mechatrax/4gpi-utils
Homepage: https://www.mechatrax.com/

Package: 4gpi-utils
Architecture: all
Depends: ${misc:Depends}, ppp
Suggests: 4gpi-net-mods
Description: Utilities for 4GPi family
 This package contains command line utilities to control 4GPi family.
